services:
  minio:
    image: minio/minio
    container_name: minio
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    network_mode: host
  pgsql:
    image: postgres:14
    container_name: pgsql
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vehicle_records
    network_mode: host

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.72.0
    container_name: otel-collector
    network_mode: host