ENVIRONMENT=development
BASE_URL=http://localhost:8080
SECRET=secret123
HTTP_PORT=7000


RABBITMQ_HOST=amqps://
RABBITMQ_EVENT_EXCHANGE=farin_geodata
RABBITMQ_INTERNAL_EXCHANGE=atoor_data
RABBITMQ_RECORDS_QUEUE=vehicle-records
RABBITMQ_RETRY_QUEUE=retry-vehicle-records


TEHRAN_TOKEN=abc
TEHRAN_LOGIN_URL=https://srv167-apigateway.tehran.ir/ApiContainer.sso.RCL1/connect/token
TEHRAN_STORE_RECORD_URL=https://srv167-apigateway.tehran.ir/ApiContainer.MarginParking.Back.RCL1/api/v1/MarginParking/Plate/Detection


MINIO_HOST=localhost:9000
MINIO_ACCESS_TOKEN=jLGkn73kTuDsRZUZhxl8
MINIO_SECRET=HbWRmVzUU5YP3W5swsMzJcgziMBAt88b1eCqyrDk
MINIO_VEHICLE_RECORDS_BUCKET=vehicle-records



OPEN_TELEMETRY_METRIC_EXPORTER=localhost:1234
OPEN_TELEMETRY_LOG_EXPORTER=localhost:1234
