ENVIRONMENT=development
DATABASE_HOST=postgresql://root:secret@localhost:5432/states?sslmode=disable
HTTP_PORT=7000


RABBITMQ_HOST=amqps://
RABBITMQ_EVENT_EXCHANGE=farin_geodata
RABBITMQ_STATE_QUEUE=states


