ENVIRONMENT=development
BASE_URL=http://localhost:8080
DATABASE_HOST=mongodb://admin:password@localhost:27017/
HTTP_PORT=7000
SECRET=secret123

RABBITMQ_HOST=amqps://default_user_bkVtZ-pUWMLqTFliGYJ:ae0FWgOoLiEmBZBW5MGQa2lMBauLKQpX@amqp.gw.k8s.sh.aban.io:5672/
RABBITMQ_EVENT_EXCHANGE=farin_geodata
RABBITMQ_INTERNAL_EXCHANGE=atoor_data
RABBITMQ_GEODATA_QUEUE=farin_geodata


MINIO_HOST=localhost:9000
MINIO_ACCESS_TOKEN=jLGkn73kTuDsRZUZhxl8
MINIO_SECRET=HbWRmVzUU5YP3W5swsMzJcgziMBAt88b1eCqyrDk
MINIO_PROFILE_PICTURE_BUCKET=user-images


OPEN_TELEMETRY_METRIC_EXPORTER=localhost:1234
OPEN_TELEMETRY_LOG_EXPORTER=localhost:1234
